@import "../../styles/Core/Reset.scss";
@import "../../styles/Core/Vars.scss";


.description {
   margin: 35px;

   &__img {
      display: flex;
      justify-content: center;
      margin: 90px 0 50px 0;
      height: 300px;
   }

   //DESCRIPTION

   &__description {
      display: flex;
      flex-direction: column;
      line-height: 35px;
      margin-bottom: 20px;
    }

   &__modelAndPrice {
      display: flex;
      justify-content: space-between;
      margin-top:30px;
   }

   &__model {
      text-transform: uppercase;
      font-weight: 700;
   }  

   &__line {
      border-bottom: 1px solid $--color-black;
      padding:15px 0px 15px 0px;
   }
   
   &__detail {
      width: 100%;
   }

   &__camara {
      padding-top: 20px;
   }

   &__form {
      display: flex;
      flex-direction: column;
      margin-top: 20px;

      &__color {
         margin-top: 15px;
      }
   }

   //BTN ADD TO CART

    &__btn {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__add {
     font-size: 12px;
     font-weight: 600;
     text-align: center; 
     letter-spacing: 0.7px;
     text-transform: uppercase; 
     font-stretch:condensed;
     background: $--color-black;
     color: $--color-white;
     padding: 10px 80px 10px 80px;
     width: fit-content;
     border: 1px solid $--color-black;
     cursor: pointer;
    align-self: center;
    margin-top: 50px;
    transition: all 250ms ease-in-out;
   
     &:hover {
        background-color: $--color-white;
      
        color: $--color-black;
     }}   
    }
}



   @media all and (min-width:768px) {
      .description {
         margin: 35px 80px 35px 80px;

         &__description {
            display: flex;
            justify-content: space-between;
         }

         &__img {
            height: 400;

         }
        
        &__descAndImg {
         display: flex;
         justify-content: space-evenly;
        
        }

        &__btn {
         display: flex;
         flex-direction: row;
         justify-content: space-evenly;
         margin-bottom: 50px;

         &__add {
            order: 1;
         }
        } 
      }
   }


//BTN BACK TO HOME

.description__btn__home {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;   
   }
   
   .description__btn__home span {
    padding: 7px 0 7px 5px;
    letter-spacing: 4px;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;

   }
   
   .description__btn__home svg {
    transform: translateX(8px);
     transition: all 0.3s ease;
     margin-right: 10px;
   }

   .btn_backToHome__svg {
    margin-right: 30px;
   }
   
   .description__btn__home:active svg {
    transform: scale(0.9);
   }
   
   .hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
   }
   
   .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
   }
   
   .description__btn__home:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom right;
   }