
@import "../Core/Reset.scss";
@import "../Core/Vars.scss";


.header {
    box-shadow: 0px 2px 6px $--color-light-grey; 

    &__LogoAndNav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__Cart {
        font-size: 20px;
        color: $--color-black;
        margin-right: 20px;
    }

}

//NAV MOBILE

.nav {
  
    &__menu--open {
    position: relative;
    align-items: flex-end;
   
    }

    &__menu--notOpen {
        display: none;
    }

 &__container {
    position: absolute;
    width: 90%;
    right: 0;
    margin-right: 20px;
    z-index: 10;
    border: 2px solid $--color-grey;
    min-height: 350px;
    padding: 15px;
    background-color: $--color-cream;
    background-color: $--color-white;
 }

 &__list {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 325px;
    list-style: none;
    text-align: left;
 }

}

@media all and (min-width:768px) {

    .header {

    &__LogoAndNav {
       margin:  0px 60px 0px 60px;
    }    
    }

    .nav {
        &__container {
            width: 95%;
            margin: 30px;
        }
    }
 }

 





