
@import "../Core/Reset.scss";
@import "../Core/Vars.scss";


.header {
 
    box-shadow: 0px 2px 6px $--color-light-grey; 

   
    &__LogoAndNav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__Hamburguer {
        font-size: 30px;
        color: $--color-black;
        margin-right: 20px;
    }

}

//NAV MOBILE

.nav {
  
    &__menu--open {
    position: relative;
    align-items: flex-end;
   
    }

    &__menu--notOpen {
        display: none;
    }

 &__container {
    position: absolute;
    width: 90%;
    z-index: 10;
   background-color: $--color-white;
   border: 1px solid $--color-grey;
    right: 0;
    margin-right: 20px;
 }

 &__list {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 325px;
    list-style: none;
    text-align: left;
 }

 &__items {
     font-size: 18px;
     color: $--color-black;
     width: fit-content;

     &:hover {
        cursor: pointer;
        border-bottom: 1px solid $--color-black;
     }
 }
}

@media all and (min-width:768px) {

    .header {
    
    &__LogoAndNav {
       margin:  0px 60px 0px 60px;
    }

     &__Hamburguer {
            display: none;
        }
    
        &__Creatives {
            font-weight: 900;
            font-size: 54px;
            padding-bottom: 70px;
        }

    }
 }

 .navDesktop {
    display: none;

    @media all and (min-width:768px) {

    & {
    display: flex;
     }

    &__list {
         display: flex;
         width: 450px;
         justify-content: space-between;
         align-items: center;
         list-style-type: none;
         
         a {
            color: $--color-black;
            
            &:hover {
                border-bottom: 1px solid $--color-black;
            }
         }
    }

    &__items {
        font-weight: 400;
        line-height: 31px;
        font-size: 18px;
    }

    }
}







