@import "../../styles/Core/Reset.scss";
@import "../../styles/Core/Vars.scss";

.header {
       &__desc {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__cart__desc {
            margin-right: 40px;
            font-size: 1.2rem;
        }


    @media all and (min-width:768px) {

        &__cart__desc {
            margin-right: 70px;
        }
    }
}