@import "../../styles/Core/Reset.scss";
@import "../../styles/Core/Vars.scss";

.header {

    // padding-top: 18px!important;
    padding-bottom: 18px!important;
    box-shadow: 0 4px 10px -10px $--color-cream 60%;
   

    &__logo {
        width: 5rem;
        &:hover {
        background-color: $--color-ligth-pink;    
        }
        
    }
}