@import "../../styles/Core/Reset.scss";
@import "../../styles/Core/Vars.scss";

.cart {
    &__item {
    display: flex; 
    flex-direction:row;
    min-height: 325px;
    list-style: none;
    text-align: left;
    padding: 40px;
}

&__title {
    font-size: 16px;
    line-height: 24px;
    padding: 20px 0px 30px 30px;
    text-transform: uppercase;
}

&__img {
    width: 150px;
    margin-bottom: 20px;
}

&__modelAndbrand {
    display: flex;
    justify-content: space-between;
    width: 150px;
    font-weight: bold;
    margin-bottom: 15px;
}

&__priceAndButton {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   margin-left: 15px;
   
}

&__price {
    margin-top: 130px;
}

&__deleteButton {
    border: none;
    background-color: $--color-white;
    text-transform: uppercase;
    width: 80px;
    cursor: pointer;
    margin-bottom: 30px;
    padding: 8px;
    
    &:hover {
        text-decoration:  2px underline;
    }
}
}

@media all and (min-width: 768px) {
    .cart {

        &__list {
            display: flex;
            flex-wrap: wrap;
        }

        &__item {
            margin-right: 80px;
        }
    }
}