
$--color-title:#e91e63;

//  COLORES DEFINITIVOS

$--color-black: #000;
$--color-ligth-black: rgba(12, 12, 12, 0.979);
$--color-white: rgba(255, 255, 255, 1);
$--color-light-grey: rgba(177, 173, 173, 0.219);
$--color-grey:rgba(92, 87, 87, 0.479);
$--color-cream: #fef9f8 ;