
$--color-title:#e91e63;

//  COLORES DEFINITIVOS

$--color-black: #000;
$--color-white: rgba(255, 255, 255, 1);
$--color-pink: #FF8F83;
$--color-yellow: #FFDB6B;$--color-orange-outline:#da8301;
$--color-ligth-pink: #e8e8e8;
$--color-ligth-cream: #fef9f8;