//COLORS
$--color-cream: #F2E5D7;

///

$--color-dark-blue: #091540;
$--color-white: #F8F7F9;
$--color-pink: #FF8F83;
$--color-yellow: #FFDB6B;

//NAPPTILUS
$--color-box-shadow: #745e5e;
$--color-black: #2d2d2d;

//
$--color-ligth-pink: #e8e8e8;
$--color-ligth-black: #363636;
$--color-ligth-cream: #fef9f8;